<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="ejs.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase-firestore.js"></script>
  <script>

    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAM8Oro8zBvD0US2xpEez2z4-l_DQHstIM",
      authDomain: "shopee-1.firebaseapp.com",
      databaseURL: "https://shopee-a6442.appspot.com",
      projectId: " shopee-a6442",
      storageBucket: "gs://shopee-a6442.appspot.com",
      messagingSenderId: "641889602156"
    };
    firebase.initializeApp(config);
    // Initialize Cloud Firestore through Firebase
    var db = firebase.firestore();

    // Disable deprecated features
    db.settings({
      timestampsInSnapshots: true
    });
  </script>
  <style>
    .toolbaricon {
      padding-left: 5px;
      padding-bottom: 5px;
      padding-right: 5px;
      color: rgb(255, 0, 179);
    }
  </style>
</head>


<body>
  <ons-navigator swipeable id="myNavigator">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-icon class="toolbaricon" size="30px" icon="fa-shopping-bag">
        </ons-icon>
      </div>
      <div class="center" id="appname">PSU SHOP</div>
      <div class="right">
        <ons-icon class="toolbaricon" size="30px" icon="md-help">
        </ons-icon>
      </div>
    </ons-toolbar>

    <ons-tabbar swipeable position="auto" id="tabbar">
      <ons-tab page="tab1.html" label="Home" icon="ion-home, material:md-home" badge="07" active>
      </ons-tab>
      <ons-tab page="tab2.html" label="Cart" icon="fa-shopping-cart" active-icon="fa-shopping-cart">
      </ons-tab>
      <ons-tab page="tab3.html" label="Products" icon="fa-braille" active-icon="fa-braille">
      </ons-tab>
    </ons-tabbar>
  </ons-page>
</ons-navigator>
  <template id="tab1.html">
    <ons-page id="Tab1">
      <p style="text-align: center; margin-top: 10px;">
        <ons-search-input placeholder="search" onchange="search(this.value)"></ons-search-input>
      </p>
      <ons-carousel swipeable auto-scroll overscrollable id="carousel" style="height: 300px;">
        <ons-carousel-item id="carousel1" style="background: url('image/1.jpg') no-repeat center; background-size: contain;">
        </ons-carousel-item>
        <ons-carousel-item id="carousel2" style="background: url('image/2.jpg') no-repeat center; background-size: contain;">
        </ons-carousel-item>
        <ons-carousel-item id="carousel3" style="background: url('image/3.jpg') no-repeat center; background-size: contain;">
        </ons-carousel-item>
      </ons-carousel>

      <div id="icons"></div>

      <script id="icon_template" type="text/template">
        <ons-row style="height:120px" vertical-align="center">  
        <% categories.forEach(function(category){%>  
        <ons-col style="background:#FF9900;" width="33%" onclick="changeTab('<%= category.name %>')">
          <p style="text-align: center; margin: 10px;">
            <ons-icon size="60px" icon="<%= category.icon %>" ></ons-icon>
          </p>
          <p style="text-align: center; margin: 10px;" id="icon1_text">
            <%= category.name %>
          </p>
        </ons-col>
        <%});%>
        </ons-row>
        </script>


    </ons-page>
  </template>
  <template id="tab2.html">
    <ons-page id="Tab2">
      <p><h5><b>Shopping Cart</b></h5></p>
      
<div id="showDataCart"></div>

     <script id="cart_template" type="text/template">
      <ons-list>
        
      <% cartData.forEach(function(cartData){
          var cartData = cartData.data(); 
        %>
        <ons-list-item>
          <div class="left">
            <img class="list-item__thumbnail" src="<%=cartData.photo[0]%>">
          </div>
          <div class="center">
            <span class="list-item__title"><%=cartData.title%></span>
            <span class="list-item__subtitle" style="color: blue"><%=cartData.price%></span>
          </div>
          <div class="right">
            <p style="text-align: center; margin: 10px;">
              <ons-icon style="color: grey" size="30px" icon="md-delete"></ons-icon>
            </p>
          </div>
        </ons-list-item>    
      </ons-list>
      <%})%>
    </script>
      <p style="text-align: center; margin: 10px;">
        <ons-button modifier="large">PROCEED TO PAY</ons-button>
      </p>
    </ons-page>
  </template>

  <template id="tab3.html">
      <ons-page id="Tab3">
        <p style="text-align: center; margin-top: 10px;">
          <ons-search-input placeholder="Search" onchange="search(this.value)"></ons-search-input>
        </p>
        <hr>
        
        <h1 class="text-center">ÊÔ¹¤éÒÊØ´Hot</h1>
        <div id="allPro"></div>
        <script id="allPro_template" type="text/template"> 
          <ons-row>
         
        <% allPro.forEach(function(allPro){
          var item = allPro.data();

          %>  
          <ons-col width="50%" onclick="getDetail('<%=item.title%>')">
            <ons-card style="width:90%; height:90%;">
              <center><img src="<%=item.photo1%>" alt="Onsen UI" style="width:120px; height:120px;"></center>
              <div class="title">
               <%=item.title%>
              </div>
              <div class="content" id="Pdetail">
                Price: <%= item.price %>
              </div>
            </ons-card>
          </ons-col>
          <%});%>
        </ons-row>
        </script>
  
        
        <!-- <ons-button modifier="large" onclick="addnewdata()" >
          ADD DATA
        </ons-button> -->
  
      </ons-page>
    </template>
    <script>
        var datadep = localStorage.getItem('getDep');
        console.log(datadep)
        </script>
    <template id="detailP.html">
      <ons-page>
      
          <ons-toolbar>
              <div class="left"><ons-back-button>Back</ons-back-button></div>
              <div class="center">Detail</div>
          </ons-toolbar>
  
         <div id="showDep"></div>
        
         <script id="Detailproduct_template" type="text/template">
            <ons-card>
               
                <ons-carousel swipeable auto-scroll overscrollable id="carousel" style="height: 300px;">
                  <% dataDep.forEach(function(dataDep){   
                    var data = dataDep.data(); %>
                      <ons-carousel-item id="carousel1DeP" style="background: url(' <%= data.photo[0]%>') no-repeat center; background-size: contain;">
                      </ons-carousel-item>
                      <ons-carousel-item id="carousel2DeP" style="background: url('<%= data.photo[1]%>') no-repeat center; background-size: contain;">
                      </ons-carousel-item>
                      <ons-carousel-item id="carousel3DeP" style="background: url('<%= data.photo[2]%>') no-repeat center; background-size: contain;">
                      </ons-carousel-item>
                      
                      
               </ons-carousel>
                  
            
                    
                <div class="title">
                  <%= data.price%>
                </div>
                <div class="content">
                  <div>
                    <%= data.title %>
                  </div>
         
                </div>
                <p style="text-align: center; margin: 10px;">
                  <ons-button modifier="large" onclick="addtocart('<%= data.title %>');" >Add To Cart</ons-button>
                </p>
                <%})%>
              </ons-card>
         </script>
      </ons-page>
    </template>
</body>

<script>
  getHomeData();
  tatol();
  document.addEventListener('prechange', function (event) {
    if (event.index == 0) {
      console.log('Home clicked');
      // get data for home screen  
      getHomeData();
    } else if (event.index == 2) {
    console.log('Cart clicked');
    getData2cart()
  
    } if (event.index == 2) {
       
      console.log('All products clicked');
      var name2 = localStorage.getItem('name');
      var item = localStorage.getItem('items');
      console.log('products clicked');
      // get data for all product screen 
      console.log('Cart clicked');
    // get data for cart screen  
    
      if(name2==null && item == null){
        console.log(name2)
        getAllProduct();}
        else if(name2!=null && item == null) {

          getAllProduct(name2);
        }else{

        }
        localStorage.clear();

    }
  });

  function changeTab(name){
    localStorage.setItem('name' , name);
    document.getElementById('tabbar').setActiveTab(2);

  }

  function getHomeData() {

    var docRef = db.collection("UI").doc("home");
    docRef.get().then(function (doc) {
      if (doc.exists) {

        //display data
        console.log("Document data:", doc.data());
        var data = doc.data();
        $('#appname').html(data.appname);
        var style = "background: url('" + data.slides[0] + "') no-repeat center; background-size: contain;'";
        $('#carousel1').attr('style', style)
        var icon_template = $('#icon_template').html();
        var html = ejs.render(icon_template, { categories: data.categories });
        $('#icons').html(html);

      } else {

        console.log("No such document!");
      }
    }).catch(function (error) {
      console.log("Error getting document:", error);
    });

    //$.getJSON('home.json', function (data) {
    //  console.log(data);
    // $('#appname').html(data.appname);
    // var style = "background: url('images/" + data.slides[0] + "') no-repeat center; background-size: contain;'";
    // $('#carousel1').attr('style', style)
    // var icon_template = $('#icon_template').html();
    // var html = ejs.render(icon_template, { categories: data.categories });
    //  $('#icons').html(html);
    // });
  }
  // function getCartData() {
  //   var docRef = db.collection("UI").doc("cart");
  //   docRef.get().then(function (doc) {
  //     if (doc.exists) {

  //       //display data
  //       console.log("Document data:", doc.data());
  //       var data = doc.data();
  //       var img_template = $('#img_template').html();
  //       var html = ejs.render(img_template, { cart: data.cart });
  //       $('#img').html(html);


  //     } else {

  //       console.log("No such document!");
  //     }
  //   }).catch(function (error) {
  //     console.log("Error getting document:", error);
  //   });
  // }



  // function getCategoriesData() {
  //   var docRef = db.collection("UI").doc("categories");
  //   docRef.get().then(function (doc) {
  //     if (doc.exists) {

  //       //display data
  //       console.log("Document data:", doc.data());
  //       var data = doc.data();
  //       var prod_template = $('#prod_template').html();
  //       var html = ejs.render(prod_template, { Products: data.Products });
  //       $('#prod').html(html);


  //     } else {

  //       console.log("No such document!");
  //     }
  //   }).catch(function (error) {
  //     console.log("Error getting document:", error);
  //   });
  // }
  function showDetailP() {
  var dataproduct = localStorage.getItem('getDep');
  var apr = db.collection("Product").where("title", "==", dataproduct);
  apr.get().then(function (querySnapshot) {
    var Detailproduct_template = $('#Detailproduct_template').html();
    var html = ejs.render(Detailproduct_template, { dataDep: querySnapshot.docs });
    $('#showDep').html(html); 
  })

}


  function getAllProduct(name2,item) {
    if(name2==null){
      var apr = db.collection("Product")
      apr.get().then(function (querySnapshot) { 
 
      var allPro_template = $('#allPro_template').html();
      console.log(querySnapshot);
      var html = ejs.render(allPro_template, { allPro : querySnapshot.docs });
      $('#allPro').html(html);
    })
  }

   else{var apr = db.collection("product").where("category","==",name2);
    apr.get().then(function (querySnapshot) {
      
      var allPro_template = $('#allPro_template').html(); 
      console.log(querySnapshot);
      var html = ejs.render(allPro_template, { allPro : querySnapshot.docs });
      $('#allPro').html(html);
    })}
}



  function addNewData() {

    var data = {
      pid: 5,
      title: 'iPhone XS ',
      price: 57000,
      category: 'smartphone'
    }

    db.collection("Product").add(data)
    .then(function (docRef) {
      console.log("Document written with ID: ", docRef.id);
    })
      .catch(function (error) {
        console.error("Error adding document: ", error);
      });

  }
  function getDetail(getDep){
localStorage.setItem("getDep",getDep)
showDetailP();
myNavigator.pushPage('detailP.html');

}

// search //
function search(search) {
 
 const filterItems = (needle, heystack) => {
  let query = needle.toLowerCase();
  return heystack.filter(item => item.data().title.toLowerCase().indexOf(needle) >= 0);
}
console.log("55+", filterItems(search, data));
var item=filterItems(search, data);
console.log("xxx",item)
localStorage.setItem('items', item);


console.log('search',item);

test(item);

document.getElementById('tabbar').setActiveTab(2);
  // localStorage.setItem('title', item);
}


const data = []
function tatol() {
  console.log(search);
  db.collection("Product").get()
    .then(function (querySnapshot) {

      querySnapshot.docs.forEach(function (item) {
        data.push(item)
        console.log(data)
      });
      
    })
  // const fruits = data[1];
}


function test(title){
console.log("888",title);

  console.log('tset',title);
      var allPro_template = $('#allPro_template').html();
       var html = ejs.render(allPro_template, { allPro: title });
      $('#allPro').html(html);

}

var dataCart = [];
function addtocart(add2cart){
localStorage.clear('quentinTarantino');
localStorage.setItem('quentinTarantino',add2cart);
var retrievedData = localStorage.getItem("quentinTarantino");
console.log(retrievedData);
dataCart.push(retrievedData);
alert(dataCart);
}



function getData2cart(){
console.log('functioncart');
console.log(dataCart);
document.getElementById('showDataCart').innerHTML = '';
dataCart.forEach(function(dataCart){
  var apr = db.collection("Product").where("title", "==",dataCart);
  apr.get().then(function (querySnapshot) {
    console.log(querySnapshot.docs)
    var cart_template = $('#cart_template').html();
    var html = ejs.render(cart_template, { cartData: querySnapshot.docs });
    
    $('#showDataCart').append(html); 
  
  })
  
})
}







</script>

</html>